body{
	background-color: #ffbb99; 
	padding: 50px;
}
h3{
	color: darkblue;
	text-align: left;
}
h4{
	color:darkblue;
	text-align:center;

}
img{
	display: block;
	margin:auto;
}
grid{
	display: grid;
	grid-template-columns: 150px 20px 150px 20px 150px;
	grid-template-rows: auto 20px auto 20px auto 20px;
}
