/*add codes about grid*/
body{
	background-color: #ffbb99; 
	padding: 50px;
}
h3{
	color: darkblue;
	text-align: left;
}
h4{
	color:darkblue;
	text-align:center;

}
img{
	display: block;
	margin:auto;
}


.row{
	width:600px;
}
/*.grid{
	display: grid;
	grid-template-columns: repeat(2,250px);
	grid-template-rows:repeat(3,200px);

}*/
.title{
	grid-column:1;
	grid-row:1;
}
.netId{
    float: left;
    height: 200px;
    width: 200px;
    line-height: 180px;
    overflow: hidden;
}
.photo{
	margin-left: 25px;
	float: left;
}
.p1{

	float: left;

}
.p2{

	float: left;

}
.p3{

	float: right;

}
.p4{

	float: left;

}
.p5{

	float: left;

}
.p6{

	float: left;

}
.selfIntro{
    float: left;
    height: 200px;
    width: 200px;
    overflow: hidden;


}
